body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  transition: all 0.3s;
}

/* Эффект свечения для правильной буквы */
.correct { background: #00FF41; border-color: #00FF41; color: #000; box-shadow: 0 0 15px #00FF41; }
.present { background: #FACC15; border-color: #FACC15; color: #000; }
.absent { background: #333; border-color: #333; }
